<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('imports') %> 
    <title>ETR</title>
</head>

<body>
    <h1>Jelentkezz be!</h1>
    <a class="btn btn-outline-primary" href="/login?type=HALLGATO">Hallgatokent</a>
    <a class="btn btn-outline-primary" href="/login?type=OKTATO">Oktatokent</a>

    <br>
    <br>
    
    <h1>Regisztralj!</h1>
    <a class="btn btn-outline-primary" href="/register?type=HALLGATO">Hallgatokent</a>
    <a class="btn btn-outline-primary" href="/register?type=OKTATO">Oktatokent</a>    
</body>

</html>