<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('imports') %> 
    <title>Uj felhasznalo</title>
</head>
<body>
    <h1>Üdv az ETR rendszerben!</h1>
    <p>Az Ön azonosítója: <strong><%= id %> </strong></p>
    <p><strong>FONTOS!</strong> Ezt az azonosítót jegyezze meg, mert ez lesz a belépéshez használt azonosítója.</p>
    <br>
    <a href="/login?type=HALLGATO">Bejelentkezes hallgatóknak</a> <br>
    <a href="/login?type=OKTATO">Bejelentkezes oktatoknak</a>
</body>
</html>